{% extends "base.twig" %}

{% block content %}

    <h1>Hats!</h1>

    <img src="/img/exampleHat.jpg"
         alt="Screenshot of a Trackmania car with a set of green cat ears. This is an example of a custom hat provided by this plugin."
         style="float: right; max-width: 100%; width: 400px;"/>

    <p>This is the custom hat upload page for
        <a href="https://openplanet.dev/plugin/hats-tm2020" target="_blank">Hats</a>, an Openplanet plugin that renders
        hats on your Trackmania pilot/car.</p>

    {% if trs.user.isLogged %}
        <p>To upload a custom hat, please go to the <a href="/hats">My Hats</a> page.</p>
    {% else %}
        <p>If you would like to upload a custom hat, please <a href="/auth">log in</a> with your Ubisoft account.</p>
    {% endif %}

    <hr style="clear: both;"/>

    <h2>Custom hat technical details</h2>

    <p>(todo)</p>

{% endblock %}
